%h2 Kontakt / Impressum
.jumbotron
  %address
    %strong  Michał Kowalik
    %br
    Herzogstandstr. 142
    %br
    85435 Erding
    %br
    %a{:href => "mailto:michal (at) kleiberweb.de"} michal (at) kleiberweb.de
   
  
